<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="urn:packages" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.w3schools.com ../Other/XSD/packages.xsd">
  <package id="System.Collections" version="4.3.0" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net471" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net471" />
  <package id="System.Threading" version="4.3.0" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
</packages>